<!DOCTYPE html>
<html>
<head>
  <title>MyShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/front/navbar" %>

<div class="container">
  <% if flash %>
    <div class="well well-sm"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
